<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name='viewport' content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for( 'static', filename='images/favicon.ico' )}}" type="image/x-icon" />

    {% block head %}
    <title>UDES - {% block title %}{% endblock %}</title>
    <!-- CSS tags -->
    {#
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/base.css' )}}" />
    #}
    {% assets filters="cssmin", output="gen/packed.css",
    "css/styles.css",
    "css/base.css",
    "node_modules/unitegallery/dist/css/unite-gallery.css",
    "node_modules/unitegallery/dist/themes/default/ug-theme-default.css"
    %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}

    <!-- Script tags -->
    {% assets filters="jsmin", output="gen/packed.js",
    "node_modules/jquery/dist/jquery.min.js",
    "node_modules/unitegallery/dist/js/unitegallery.min.js",
    "node_modules/unitegallery/dist/themes/default/ug-theme-default.js"
    %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {{ JSGlue.include()}}

    {% endblock %}
</head>

<body>

    {% block header %}
    <nav class="navbar has-shadow is-spaced" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{url_for('main_app.home')}}">
                <img src="{{ url_for( 'static', filename='images/udes-text-icon.png' )}}" style="max-height: 2.8rem;">
            </a>



            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{{url_for('main_app.home')}}">
                    Home
                </a>

                <a class="navbar-item" href="{{url_for('main_app.history')}}">
                    History
                </a>
                <a class="navbar-item" href="{{url_for('main_app.aims')}}">
                    Charity Aims
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                      Projects
                    </a>
            
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{{url_for('main_app.update_mar_2023')}}">
                            Update - Mar 2023
                        </a>
                        <a class="navbar-item" href="{{url_for('main_app.update_nov_2021')}}">
                            Update - Nov 2021
                        </a>
                        <a class="navbar-item" href="{{url_for('main_app.masjid_jan_2021')}}">
                            Masjid Development 2021
                        </a>
                        <a class="navbar-item" href="{{url_for('main_app.water_pump_jan_2021')}}">
                            Water Pumps 2021
                        </a>
                        <a class="navbar-item" href="{{url_for('main_app.madrasah_2020')}}">
                            Madrasah Development 2020
                        </a>
                        <a class="navbar-item" href="{{url_for('main_app.ramadan_2019')}}">
                            Ramadan 2019
                        </a>
                        <a class="navbar-item" href="{{url_for('main_app.bakrid_2019')}}">
                            Bakrid 2019
                        </a>
                        <a class="navbar-item" href="{{url_for('main_app.water_pump_2019')}}">
                            Water Pump
                        </a>
                        <a class="navbar-item" href="{{url_for('main_app.masjid_2019')}}">
                            Masjid Construction
                        </a>
                    </div>
                </div>
                <!--
                <a class="navbar-item" href="{{url_for('main_app.ramadan_appeal_2020')}}">
                    Ramadan Appeal 2020
                </a>
                -->
                <a class="navbar-item" href="{{url_for('main_app.contact')}}">
                    Contact Us
                </a>

            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="{{url_for('main_app.donate')}}">
                            <strong>Donate</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}
    <footer class="footer" style="margin-top: 1rem; color: #deb887;">
        <div class="columns">
            <div class="column is-9">
                <div class="content">
                    <p>
                        UDES is registered with Charity Commission For England and Wales. Reg no: 1192261
                    </p>
                </div>
            </div>
            <div class="column is-3">
                <div class="content">
                    <p><span style="font-weight: bold;">Contact Us</span><br />
                        Email: contact@udes.co.uk<br />
                        UK Phone: +44 7541 992 350<br />
                        Cameroon Phone: +237 6953 64834
                    </p>
                </div>
            </div>
        </div>
        <div class="content" style="color: #6f5e48;">

            <p>
                <span>© Copyright 2018-Present</span>
                <span style="float: right;"><a style="color: #6f5e48;" href="{{url_for('main_app.accreditation')}}">Accreditation</a></span>
            </p>
        </div>

    </footer>
    {% endblock %}

</body>

<script type="text/javascript">
    $(document).ready(function () {

        // Check for click events on the navbar burger icon
        $(".navbar-burger").click(function () {

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            $(".navbar-burger").toggleClass("is-active");
            $(".navbar-menu").toggleClass("is-active");

        });
    });
</script>

</html>