{% extends "base.html" %}
{% block title %} Donate {% endblock title %}

{% block head %}
{{ super() }}
{% endblock head %}

{# body begins #}
{% block content %}

<main>
    <div style="padding-left: 3rem;">
        <div class="columns">
            <div class="column is-12">
                <div class="content is-medium">
                    <p class="title is-3 is-spaced">Donate</p>
                    <p>You can make a bank transfer to our UK bank account. The information is provided below.
                        If you have any questions, you can find our contact information from <a href="{{url_for('main_app.contact')}}">Contact
                            Us</a> page.
                        <br />
                    </p>
                    <p>
                        <strong>Bank name: </strong>COOPERATIVE BANK<br/>
                        <strong>Charity name: </strong>UNIVERSAL DEVELOPMENT and EDUCATION SOLIDARITY<br/>
                        <strong>Sort Code: </strong>08-92-99<br/>
                        <strong>Account Number: </strong>67217933<br/>
                    </p>
                </div>
            </div>
        </div>
        <!-- <div class="columns">
            <div class="column">
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSemHYouRw9k1s7f3WAHcWY95W02DEHXKQtVxYX0blj_IciAGQ/viewform?embedded=true"
                    width="350" height="1347" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
            </div>
        </div> -->
    </div>
</main>

{% endblock content %}

{% block footer %}
{{ super() }}
{% endblock %}