{% extends "base.html" %}
{# The blocks written here will replace the blocks
in base.html. if super() is called, the block from
base.html will be inserted first and then
the new block will be replaced #}
{% block title %} Home {% endblock title %}

{% block head %}
{{ super() }}
{% endblock head %}

{# body begins #}
{% block content %}

<main>

    <div id="intro-screen">
        <div id="image-container" style="overflow: hidden">
            <img src="{{ url_for( 'static', filename='images/home-bg.jpg' )}}" class="home-background" />
        </div>

        <div id="content-container" style="position: absolute; top: 10rem;">
            <div class="columns">
                <div class="column"></div>
            </div>
            <div class="columns">
                <div class="column"></div>
            </div>
            <div class="columns">
                <div class="column"></div>
            </div>
            <div class="columns">
                <div class="column is-7 is-offset-3" style="border: 3px white solid;">
                    <p style="color: white;font-size: 4rem;text-align: center;">
                        Universal Development and Education Solidarity
                    </p>
                </div>
            </div>
            <div class="columns">
                <div class="column"></div>
            </div>

            <div class="columns">
                <div class="column is-7 is-offset-3">
                    <p style="color: white;font-size: 1.5rem;text-align: center;">
                        UDES is a charity working to help refugees fleeing persecution in Central African Republic.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="map-screen" style="padding-left: 1rem;">
        <div class="columns">
            <div class="column"></div>
        </div>
        <div class="columns">
            <div class="column is-6" style="background-color: #209cee; color: #fff;">
                <h2 class="title is-2" style="color: #fff;">Refugee Camps in Cameroon</h2>
                <div class="content is-medium">
                    <p>
                        The Borgop village houses one of the three UN-run camps for the refugees from CAR.
                        It accomodates nearly 14,000 people including women, elderly men and children, many
                        of whom are orphans. The village is located at a distance of about 35 miles from the town of
                        Meiganga (shown in the map).
                        <br /><br />
                        The largest of these camps is in Garoua-Boulay with nearly 80,000 refugees and another in Gam
                        with about 6,000 refugees.
                        <br /><br />
                        Refugees live in poor conditions and are in dire need of support in terms of food, clothing,
                        education and potentially sustainable economic means.
                        <br /><br />
                        To learn more about the history and what we are doing to help, <a style="color: #0f3a7d;text-decoration: underline;"
                            href="{{url_for('main_app.history')}}">click here</a> or <a style="color: #0f3a7d; text-decoration: underline;"
                            href="{{url_for('main_app.donate')}}">donate now</a>.</p>
                </div>
            </div>
            <div class="column is-6">
                <!--Map embed-->
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=meiganga%20cameroon&t=&z=5&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                        </iframe>
                    </div>
                </div>
                <!--Map embed close-->
            </div>

        </div>
    </div>
    <div id="icons-screen" style="padding-left: 1rem;">
        <div class="columns">
            <div class="column"></div>
        </div>
        <div class="columns">
            <div class="column is-6 is-offset-3">
                <h2 class="title is-4">What we have managed to provide so far...</h2>
            </div>
        </div>
        <div class="columns">
            <div class="column is-5 is-offset-1">
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-96x96">
                                <img src="{{ url_for( 'static', filename='images/icons/food.svg' )}}" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>Food</strong>
                                    <br>
                                    During the month of Ramadan we visited the camp to provide them meat, dairy and
                                    other perishable and non-perishable food items.
                                </p>
                            </div>
                    </article>
                </div>
            </div>
            <div class="column is-5">
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-96x96">
                                <img src="{{ url_for( 'static', filename='images/icons/clothes.svg' )}}" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>Clothing</strong>
                                    <br>
                                    We provided clothes that were collected from generous donors and also had the
                                    opportunity to provide some of the orphans with new clothes for Eid.
                                </p>
                            </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-5 is-offset-1">
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-96x96">
                                <img src="{{ url_for( 'static', filename='images/icons/mosque.svg' )}}" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>Religious needs</strong>
                                    <br>
                                    We helped build a Masjid so that the refugees can perform their five daily prayers.
                                    A Madrasah for both girls and boys with paid teachers was also established.
                                </p>
                            </div>
                    </article>
                </div>
            </div>
            <div class="column is-5">
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-96x96">
                                <img src="{{ url_for( 'static', filename='images/icons/support.svg' )}}" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>Support</strong>
                                    <br>
                                    We try as much as possible to give the care each of them need. We did help some
                                    families to build a basic source of income, and we intend to support a few more.
                                </p>
                            </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column"></div>
        </div>
        <!-- <div class="columns">
            <div class="column is-12">
                <div id="gallery" style="display:none; margin: 0px auto;">

                    <img alt="" src="{{ url_for( 'static', filename='images/home-bg.jpg' )}}" data-image="{{ url_for( 'static', filename='images/home-bg.jpg' )}}"
                        data-description="">
                    <img alt="" src="{{ url_for( 'static', filename='images/media/2.jpg' )}}" data-image="{{ url_for( 'static', filename='images/media/2.jpg' )}}"
                        data-description="">
                    <img alt="" src="{{ url_for( 'static', filename='images/media/3.jpg' )}}" data-image="{{ url_for( 'static', filename='images/media/3.jpg' )}}"
                        data-description="">
                    <img alt="" src="{{ url_for( 'static', filename='images/media/5.jpg' )}}" data-image="{{ url_for( 'static', filename='images/media/5.jpg' )}}"
                        data-description="">
                    <img alt="" src="{{ url_for( 'static', filename='images/media/8.jpg' )}}" data-image="{{ url_for( 'static', filename='images/media/8.jpg' )}}"
                        data-description="">
                    <img alt="" src="{{ url_for( 'static', filename='images/media/9.jpg' )}}" data-image="{{ url_for( 'static', filename='images/media/9.jpg' )}}"
                        data-description="">
                    <img alt="" src="{{ url_for( 'static', filename='images/media/10.jpg' )}}" data-image="{{ url_for( 'static', filename='images/media/10.jpg' )}}"
                        data-description="">
                    <img alt="" src="{{ url_for( 'static', filename='images/media/15.jpg' )}}" data-image="{{ url_for( 'static', filename='images/media/15.jpg' )}}"
                        data-description="">
                    <img alt="" src="{{ url_for( 'static', filename='images/media/14.jpg' )}}" data-image="{{ url_for( 'static', filename='images/media/14.jpg' )}}"
                        data-description="">

                </div>
            </div>
        </div> -->
        <div class="columns notification is-primary">
            
            <div class="column is-12">
                <div class="content is-medium" style="font-weight:bold;">
                    It was narrated that Abu Hurayrah (may Allaah be pleased with him) said: The Messenger of Allaah
                    (peace and blessings of Allaah be upon him) said: “Whoever gives charity equal to a date from good
                    (halal) earnings – for Allaah does not accept anything but that which is good – Allaah will take it
                    in His right hand and tend it for the one who gave it as any one of you tends his foal, until it
                    becomes like a mountain.”
                    <br>
                    Narrated by al-Bukhaari, 1344; Muslim, 1014.
                </div>
                <!-- <div class="content">
                    We are very grateful to the excellent support provided by the charity <a target="_blank" href="https://www2.caravanofmercy.org/2017/08/09/by-car-to-car-refugees/">Caravan
                        of Mercy</a> (Leicester,
                    UK) and their generous donors. We have a long way to go in our efforts and we sincerely ask you to
                    support us with your sadaqah, zakah or general donations.
                </div> -->
            </div>
        </div>
        <br /></br />
        <div class="columns">
            <div class="column is-offset-5">
                <div class="buttons">
                    <a class="button is-outlined is-success is-medium" href="{{url_for('main_app.donate')}}">
                        Click to Donate now
                    </a>
                </div>
            </div>
        </div>
        <br />
    </div>

</main>
<script type="text/javascript">
    // A $( document ).ready() block.

    $(document).ready(function () {
        $("#gallery").unitegallery({
            gallery_autoplay: true,
            gallery_play_interval: 5000,
            theme_enable_text_panel: false,
            slider_scale_mode: 'down',
            gallery_width: 1100,
            gallery_height: 610
        });
    });

</script>


{% endblock content %}

{% block footer %}
{{ super() }}
{% endblock %}