{% extends "base.html" %}
{% block title %} Update - Mar 2023 {% endblock title %}

{% block head %}
{{ super() }}
{% endblock head %}

{# body begins #}
{% block content %}

<main>
    <div style="padding-left: 3rem;">
        <div class="columns">
            <div class="column is-12">
                <div class="content is-medium">
                    <p class="title is-3 is-spaced">Update - Mar 2023</p>
                    <p>
                        We have had another successful year all thanks to Allah, and all the support from our generous donors. We have detailed what we have achieved in the year 2022.
                    </p>
                    <p class="title is-5 is-spaced">Construction projects</p>
                    <p>Four Franco-Arabic education centres were built that provide both Islamic and academic knowledge. Each of them cater to around 200 students at a time. Two of them were built in the refugee camps, one of them in the village and another in the city within Cameroon.</p>
                    <p>Four community centres were built in three refugee camps and one in town for the local Cameroonian community. These centres provide the community with space for organising events such as wedding. It also functions as a prayer room with an average capacity of about 160 people.</p>
                    <p>Four mortuary centres were built in refugee camps that help with washing and storage requirements. They were also equipped with lifting equipment that will be used for trasporting the deceased.</p>
                    <p>We managed to build 15 water pumps. Three of these were built in the Central African Republic and 12 of them were installed in the cities, villages and in refugee camps around Cameroon.</p>
                    
                    <p class="title is-5 is-spaced">Self-sustenance projects</p>
                    <p>With the help of our donors, we are now covering wages for teachers in the refugee camps and we are also sponsoring 29 students for higher studies. We also sponsored 25 widows to help them buy sewing machines, carpentry equipment and bakery items so they can self-sustain themselves and their children. We have also provided a few refugees with seeds and farming equipment so they can grow food and distribute it amongst the refugees who are sick, elderly and the widows.</p>

                    <p class="title is-5 is-spaced">Food distribution</p>
                    <p>We provided 4000 food parcels in Ramadan 2022 that were distributed among the local communities and the refugee camps.</p>
                    <p>We slaughtered 11 cows during Eid Al Adha and the meat was distributed in the refugee camps.</p>
                    <p>We also supported the local community with food distribution during a storm in Meiganga. This was highly appreciated by the local Cameroonian government officials.</p>

                    <p class="title is-5 is-spaced">Ongoing projects</p>
                    <p>With the help of one of our donors from London, we continue to provide hot meals in the refugee camps every Friday.</p>
                    
                    <div id="gallery" style="display:none; margin: 0px auto;">

                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2023/edu-centre-1.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2023/edu-centre-1.jpeg' )}}"
                        data-description="Education Centre">

                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2023/edu-centre-2.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2023/edu-centre-2.jpeg' )}}"
                        data-description="Education Centre">

                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2023/edu-centre-3.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2023/edu-centre-3.jpeg' )}}"
                        data-description="Education Centre">

                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2023/edu-centre-4.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2023/edu-centre-4.jpeg' )}}"
                        data-description="Education Centre">

                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2023/edu-centre-5.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2023/edu-centre-5.jpeg' )}}"
                        data-description="Education Centre">

                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2023/mortuary-1.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2023/mortuary-1.jpeg' )}}"
                        data-description="Mortuary">

                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2023/mortuary-2.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2023/mortuary-2.jpeg' )}}"
                        data-description="Mortuary">

                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2023/mortuary-3.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2023/mortuary-3.jpeg' )}}"
                        data-description="Mortuary">

                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2023/emergency-food-1.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2023/emergency-food-1.jpeg' )}}"
                        data-description="Emergency Food Distribution">

                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2023/emergency-food-2.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2023/emergency-food-2.jpeg' )}}"
                        data-description="Emergency Food Distribution">



                    </div>
                    <br />
                    <p>Alhamdulillah, it has been a successful year in terms of the number of projects that we've done and the people we have managed to reach.</p>
                    <p>We are extremely thankful for the supporters and the donors of UDES. This initiative cannot succeed without your support. May Allah reward you abundantly. We urge you to donate generously in the upcoming Ramadan of 2023. If you need any further information or would like to support us, please do not hesitate to <a href="{{url_for('main_app.contact')}}">contact us</a>.</p>
                </div>
            </div>
        </div>
    </div>
</main>

<script type="text/javascript">
    // A $( document ).ready() block.

    $(document).ready(function () {
        $("#gallery").unitegallery({
            gallery_autoplay: true,
            gallery_play_interval: 5000,
            theme_enable_text_panel: true,
            slider_scale_mode: 'down'
        });
    });

</script>

{% endblock content %}

{% block footer %}
{{ super() }}
{% endblock %}