{% extends "base.html" %}
{% block title %} Update - Nov 2021 {% endblock title %}

{% block head %}
{{ super() }}
{% endblock head %}

{# body begins #}
{% block content %}

<main>
    <div style="padding-left: 3rem;">
        <div class="columns">
            <div class="column is-12">
                <div class="content is-medium">
                    <p class="title is-3 is-spaced">Update - Nov 2021</p>
                    <p>
                        By the grace of Allah, the team at UDES have been hard at work over the last few months, thanks to the tremendous generosity of our donors. We would like to provide an update on what we have been working on, for the past few months.
                    </p>
                    <p class="title is-6 is-spaced">Ramadan Food and Crutches Distribution (May 2021)</p>
                    <p>As with previous Ramadans, we managed to distribute food to about 300 refugees in each of the Lolo, Mbile, Garisongo, Gado and Borgop camp. We also provided 130 crutches to the most needy recipients.</p>
                    <p>We are also pleased to inform you that because of donations from a single donor from London, we are able to provide hot meals for 75 elders every Friday since Ramadan. This is an ongoing effort, and we are very grateful to the generous donation.</p>
                    
                    <p class="title is-6 is-spaced">Masjid-e-Iqbal (June 2021)</p>
                    <p>We have completed the construction of a masjid in the Lolo camp, that can house around 250 people. It's currently being run by the community members. This project was sponsored by a single donor. May Allah accept the donation and make it a means of sadaqah-e-jariah.</p>

                    <p class="title is-6 is-spaced">Madrasah - Sabiloul Huda (June 2021)</p>
                    <p>We have completed the construction of a school in the Lolo camp that can house nearly 350 children.</p>

                    <p class="title is-6 is-spaced">Franco-Arab Education Centre (Sept 2021)</p>
                    <p>We completed the construction of an education centre in Ngaoui that can also house nearly 350 children.</p>

                    <p class="title is-6 is-spaced">Madrasah Mbay Mboum (Sept 2021)</p>
                    <p>This madrasah can accommodate 400 students, and it includes a women's learning facility.</p>

                    <p class="title is-6 is-spaced">Masjid Zuleikha (Sept 2021)</p>
                    <p>This masjid was built in Mbile, by the contribution of a single donor, and can accommodate 250 people.</p>

                    <p class="title is-6 is-spaced">Masjid Sahaba (Sept 2021)</p>
                    <p>This masjid was built in the village of Ngoundere, by the generous contributions of donor from the UK, and can accommodate 500 people.</p>

                    <p class="title is-6 is-spaced">Water Pumps (From June 2021)</p>
                    <p>We have managed to build four water pumps in multiple locations within Cameroon.</p>
                    
                    <div id="gallery" style="display:none; margin: 0px auto;">

                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2021/ramadan-food-1.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2021/ramadan-food-1.jpeg' )}}"
                        data-description="Ramadan Food Distribution">

                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2021/ramadan-food-2.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2021/ramadan-food-2.jpeg' )}}"
                        data-description="Ramadan Food Distribution">

                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2021/ramadan-food-3.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2021/ramadan-food-3.jpeg' )}}"
                        data-description="Ramadan Food Distribution">

                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2021/ramadan-food-4.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2021/ramadan-food-4.jpeg' )}}"
                        data-description="Ramadan Food Distribution">

                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2021/masjid-iqbal-1.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2021/masjid-iqbal-1.jpeg' )}}"
                        data-description="Masjid-e-Iqbal">
                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2021/masjid-iqbal-2.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2021/masjid-iqbal-2.jpeg' )}}"
                        data-description="Masjid-e-Iqbal">
                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2021/masjid-iqbal-3.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2021/masjid-iqbal-3.jpeg' )}}"
                        data-description="Masjid-e-Iqbal">

                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2021/masjid-sahabah-1.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2021/masjid-sahabah-1.jpeg' )}}"
                        data-description="Masjid Sahabah">
                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2021/masjid-sahabah-2.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2021/masjid-sahabah-2.jpeg' )}}"
                        data-description="Masjid Sahabah">
                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2021/masjid-sahabah-3.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2021/masjid-sahabah-3.jpeg' )}}"
                        data-description="Masjid Sahabah">

                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2021/quran-dist-1.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2021/quran-dist-1.jpeg' )}}"
                        data-description="Quran Distribution">
                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2021/quran-dist-2.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2021/quran-dist-2.jpeg' )}}"
                        data-description="Quran Distribution">
                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2021/quran-dist-3.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2021/quran-dist-3.jpeg' )}}"
                        data-description="Quran Distribution">
                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2021/quran-dist-4.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2021/quran-dist-4.jpeg' )}}"
                        data-description="Quran Distribution">
                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2021/quran-dist-5.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2021/quran-dist-5.jpeg' )}}"
                        data-description="Quran Distribution">
                        
                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2021/masjid-zuleikha-1.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2021/masjid-zuleikha-1.jpeg' )}}"
                        data-description="Masjid Zuleikha">
                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2021/masjid-zuleikha-2.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2021/masjid-zuleikha-2.jpeg' )}}"
                        data-description="Masjid Zuleikha">

                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2021/mbay-boum-1.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2021/mbay-boum-1.jpeg' )}}"
                        data-description="Madrasah Mbay Boum">
                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2021/mbay-boum-2.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2021/mbay-boum-2.jpeg' )}}"
                        data-description="Madrasah Mbay Boum">

                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2021/food-dist-1.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2021/food-dist-1.jpeg' )}}"
                        data-description="Food Distribution">
                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2021/food-dist-2.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2021/food-dist-2.jpeg' )}}"
                        data-description="Food Distribution">
                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2021/food-dist-3.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2021/food-dist-3.jpeg' )}}"
                        data-description="Food Distribution">

                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2021/eid-al-adha-food-dist.jpeg.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2021/eid-al-adha-food-dist.jpeg' )}}"
                        data-description="Eid Al-adha food Distribution">

                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2021/crutches-1.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2021/crutches-1.jpeg' )}}"
                        data-description="Crutches Distribution">
                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2021/crutches-2.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2021/crutches-2.jpeg' )}}"
                        data-description="Crutches Distribution">
                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2021/crutches-3.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2021/crutches-3.jpeg' )}}"
                        data-description="Crutches Distribution">
                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2021/crutches-4.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2021/crutches-4.jpeg' )}}"
                        data-description="Crutches Distribution">

                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2021/water-pump-1.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2021/water-pump-1.jpeg' )}}"
                        data-description="Water Pump">
                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2021/water-pump-2.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2021/water-pump-2.jpeg' )}}"
                        data-description="Water Pump">
                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2021/water-pump-3.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2021/water-pump-3.jpeg' )}}"
                        data-description="Water Pump">
                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2021/water-pump-4.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2021/water-pump-4.jpeg' )}}"
                        data-description="Water Pump">
                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2021/water-pump-5.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2021/water-pump-5.jpeg' )}}"
                        data-description="Water Pump">
                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2021/water-pump-6.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2021/water-pump-6.jpeg' )}}"
                        data-description="Water Pump">
                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2021/water-pump-7.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2021/water-pump-7.jpeg' )}}"
                        data-description="Water Pump">
                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2021/water-pump-8.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2021/water-pump-8.jpeg' )}}"
                        data-description="Water Pump">

                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2021/franco-arab-1.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2021/franco-arab-1.jpeg' )}}"
                        data-description="Franco-Arab Education Centre">
                        <img alt="" src="{{ url_for( 'static', filename='images/media/projects-2021/franco-arab-2.jpeg' )}}" data-image="{{ url_for( 'static', filename='images/media/projects-2021/franco-arab-2.jpeg' )}}"
                        data-description="Franco-Arab Education Centre">


                    </div>
                    <br />
                    <p>Alhamdulillah, it has been a successful year in terms of the number of projects that we've done and the people we have managed to reach.</p>
                    <p>We are extremely thankful for the supporters and the donors of UDES. This initiative cannot succeed without your support. May Allah reward you abundantly. If you need any further information or would like to support us, please do not hesitate to <a href="{{url_for('main_app.contact')}}">contact us</a>.</p>
                </div>
            </div>
        </div>
    </div>
</main>

<script type="text/javascript">
    // A $( document ).ready() block.

    $(document).ready(function () {
        $("#gallery").unitegallery({
            gallery_autoplay: true,
            gallery_play_interval: 5000,
            theme_enable_text_panel: true,
            slider_scale_mode: 'down'
        });
    });

</script>

{% endblock content %}

{% block footer %}
{{ super() }}
{% endblock %}